:root {
  --font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  --bg: #e0e0e0;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
}

sc-site-layout {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  min-height: 100dvh;
  gap: 2rem;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: start;

  & header {
    grid-area: header;
    padding: 1rem;
  }

  & main {
    grid-area: content;
    padding-inline: 1rem;
    max-inline-size: 70ch;
  }
  & footer {
    grid-area: footer;
  }
}
